* {
    margin: 0;
    box-sizing: border-box;
}

section {
    padding-left: 20px;
}

.grid {
    margin: 0 auto;
  }
  
  .grid-item {
    width: 33.333%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }

  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
}
  
  .extra {
    display: none;
  }

  .button-gallery {
    text-align: center;
    margin-bottom: 30px;
  }
  

/* media queries */
@media screen and (max-width: 480px) {
    section {
        padding-left: 28px;
    }

    .grid-item {
        width: calc(50% - 20px);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .grid-item:nth-child(2n) {
        margin-right: 0;
    }
}


@media only screen and (min-width: 480px) {
    section {
        padding-left: 28px;
    }

    .grid-item {
        width: calc(50% - 20px);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .grid-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 900px) {
    section {
        padding-left: 22px;
    }

    .grid-item {
        width: calc(33.33% - 20px);
        margin-right: 20px;
    }

    .grid-item:nth-child(3n) {
        margin-right: 0;
    }
}